pandas==0.18.1
nltk==3.2.1
numpy==1.11.2
lda==1.0.4
stop_words
gensim==0.13.1
Pattern==2.6
ipdb==0.10.1
Scrapy==1.2.1
html2text==2016.9.19
pdfminer==20140328
requests_cache
BeautifulSoup==3.2.1
pyLDAvis==2.0.0
jupyter==1.0.0
phrasemachine==1.0.1
textacy==0.3.1
